@model IEnumerable<WebBanHang.Models.Model.tblCTHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sTenHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fGiaTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iSoLuongCon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sTenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fGiaTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iSoLuongCon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.iIDHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.iIDHang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.iIDHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
